<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sallu Bills</title>
    <link rel="icon" th:href="@{/images/brand.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="workspace">
        <div class="sallu-nav">
            <div class="nav-brand">
                <img th:src="@{/images/brand-logo.png}"  alt="brand-logo" width="35vw">
                <span id="brand">SALLU BILLS</span>
            </div>
            <div class="nav-account">
                <span>Organisation name</span>
                <img src="https://img.icons8.com/?size=512&id=84898&format=png" alt="user-account" width="25vw" >
            </div>
        </div>
        <div class="sallu-container">
            <div class="sallu-aside">
                <ul class="aside-list">
                    <li>
                        <a href="#" th:href="@{/home/dashboard}">
                            <img src="https://img.icons8.com/?size=512&id=XFqvv26UmZNX&format=png" alt="dashboard">
                            <p class="aside-text">Dashboard</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" th:href="@{/contacts}">
                            <img src="https://img.icons8.com/?size=512&id=P9zNycUQmKCU&format=png" alt="contacts">
                            <p class="aside-text">Contacts</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" th:href="@{/items}">
                            <img src="https://img.icons8.com/?size=512&id=89619&format=png" alt="items">
                            <p class="aside-text">Items</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" th:href="@{/home/dashboard}">
                            <img src="https://img.icons8.com/?size=512&id=kBp3VdugUkVG&format=png" alt="invoice">
                            <p class="aside-text">Invoice</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" th:href="@{/home/dashboard}">
                            <img src="https://img.icons8.com/?size=512&id=32187&format=png" alt="tax">
                            <p class="aside-text">Tax</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" th:href="@{/home/dashboard}">
                            <img src="https://img.icons8.com/?size=512&id=a9cm7H37yIaV&format=png" alt="tax">
                            <p class="aside-text">Accounts</p>
                        </a>
                    </li>
                  </ul>
            </div>

            <div class="main-body">
                <div th:if="${dashboard}">
                    <div th:insert="~{dashboard :: .dash}"></div>
                </div>
                <div class="module-container" th:if="${item_page}">
                    <div th:insert="~{items :: div}"></div>
                </div>
                <div th:if="${item_form}">
                    <div th:insert="~{item-form :: div}"></div>
                </div>
                <div class="module-container" th:if="${contact_page}">
                    <div th:insert="~{contacts :: div}"></div>
                </div>
                <div th:if="${contact_form}">
                    <div th:insert="~{contact-form :: div}"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js" th:src="@{/js/script.js}"></script>
    <script src="js/calculations.js" th:src="@{/js/calculations.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>