<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="module-container">
	<div class="module-details-actions">
		<p id="module-display">Contacts</p>
		<a href="#" class="btn btn-sm btn-primary" th:href="@{/contacts/showContactsForm}">Add Contact</a>
	</div>
	<div class="contacts-table">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="contact, status : ${contactsList}">
				<td th:text="${status.count}"></td>
				<td th:text="${contact.contactName}"></td>
				<td th:text="${contact.contactEmail}"></td>
				<td th:text="${contact.contactPhone}"></td>
				<td>
					<a th:href="@{/contacts/editContact(contactId=${contact.contactId})}" href="#"><img src="/images/edit.png" alt="edit" width="20px"></a>
					<a th:onclick="'setContactForDelete(\'' + ${contact.contactId} + '\')'" data-bs-toggle="modal" data-bs-target="#deleteContactModal" href="#"><img src="/images/delete.png" alt="delete" width="20px"></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="deleteContactModal" tabindex="-1" aria-labelledby="deleteContactModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			<div class="modal-body">
			  Delete Contact permanently
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<form th:action="@{/contacts/deleteContact}" method="POST" style="display: inline;">
				<input type="hidden" name="contactId" id="contactIdToDelete" value=""/>
				<button type="submit" class="btn btn-primary">Delete</button>
			</form>
			</div>
		  </div>
		</div>
	</div>

</div>
</html>