<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div>
	<div class="general-ledger">
		<p class="h2">General Ledger</p>
		<p>Accrual basis</p>
		<div class="table ">
			<table class="table table-hover border border-dark border-2">
				<thead>
				<tr >
					<th class="p-3">Account Name</th>
					<th class="p-3">Credit</th>
					<th class="p-3">Debit</th>
				</tr>
				</thead>
				<tbody class="table-group-divider">
				<tr th:each="account : ${accounts}">
					<td class="py-2 px-3" th:text="${account.accountName}"></td>
					<td class="py-2 px-3" th:text="${account.credit}"></td>
					<td class="py-2 px-3" th:text="${account.debit}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>